.cat-table {
    margin-bottom: 20px;
}

html {
    scroll-behavior: smooth;
  }  

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: whitesmoke;
}

.ideas-hidden-text {
    display: none;
}

/*Animate the cat img to spin and reveal text on hover*/
.codespace-cat-img:hover {
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.codespace-cat-img:hover + .ideas-hidden-text {
    display: inline-block;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

::selection {
    background: yellow;
    color: black;
}

/*Animate the cat images so that when a user clicks the images the transform is active*/
.cat-table img:active {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 2;
    border-radius: 20px;

}

/*Animate the plane emoji to look like it is landing and parking for the landing page*/
.landing {
    font-size: 50px;
    animation: land 10s linear 2s 1 normal forwards;
    position: absolute; /*I added this in order to better align the text inside the td elements*/
}

/* The translate applies to the original position of the animated element*/
@keyframes land {
    0% { 
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate(300px, 100px);
    }
    50% {
        transform: translate(600px, 100px);
    }
    100% {
        transform: translate(0px, 100px);
    }
}

/*Animate the money bag, coins, and gavel to look like a sale has happend*/
.money-container {
    display: inline-block;
    position: absolute;
}

.coins {
    opacity: 0.5;
    transition: transform 0.2s linear;
    margin-top: -5px;
}

.money-bag {
    margin-left: 20px;
    position: relative; /*I added this in order to better align the text inside the td elements*/
    z-index: 2;
}

/*Click the bag and money looks to fall for the sale*/
.money-bag:active ~ .coins {
    opacity: 2;
    transform: translate(0px, 5px) rotateY(360deg);
}

/*Increase the gavel size (reacts like text as it is unicode emoji), add the animation to make the gavel look like it it ending a auction*/
.gavel-div {
    font-size: 50px;
    rotate: 180deg;
    transition: transform 3s linear;
    position: absolute; /*I added this in order to better align the text inside the td elements*/
    width: 300px;
    top: 550px;
    z-index: 1;
}

.gavel-td:hover .gavel-div {
    transform: rotate(-180deg);
    font-size: 100px;
}

td {
    width: 33%;
    height: auto;
    vertical-align: middle;
}

/*Style the text to make it more visible with the new background vid*/

th {
    background-color: aliceblue;
    border-radius: 15px;
    color: black;
}

.background-cat-vid {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
    position: fixed;
}

.table-data-text {
    background-color: aliceblue;
    border-radius: 5px;
    color: black;
}

label {
    background-color: aliceblue;
    border-radius: 5px;
    color: black;
}

.cat-chat {
    position: absolute;
    font-size: 20px;
}
  
