.cat-table {
    margin-bottom: 20px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}

.spin-hidden-text {
    display: none;
}

/*Animate the cat img to spin and reveal text on hover*/
.codespace-cat-img:hover {
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.codespace-cat-img:hover + .spin-hidden-text {
    display: inline-block;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

::selection {
    background: yellow;
    color: black;
}

/*Animate the cat images so that when a user clicks the images the transform is active*/
.cat-table img:active {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 2;
    border-radius: 20px;

}

/*Animate the plane emoji to look like it is landing and parking for the landing page*/
.landing {
    font-size: 50px;
    animation: land 10s linear 2s 1 normal forwards;
}

@keyframes land {
    0% { 
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate(300px, 150px);
    }
    50% {
        transform: translate(600px, 150px);
    }
    100% {
        transform: translate(0px, 150px);
    }
}

/*Animate the money bag, coins, and gavel to look like a sale has happend*/
.money-container {
    display: inline-block;
}

.coins {
    opacity: 0.5;
    transition: transform 0.2s linear;
    margin-top: -5px;
}

.money-bag {
    margin-left: 20px;
}

/*Click the bag and money looks to fall for the sale*/
.money-bag:active ~ .coins {
    opacity: 2;
    transform: translate(0px, 5px) rotateY(360deg);
}

.gavel {
    font-size: 50px;
    rotate: 180deg;
    transition: transform 5s linear;
}

.gavel-container:hover .gavel {
    transform: rotate(-180deg);
    font-size: 100px;
}
